<div>
  <div class="text-center mt-3">
    <b>Sign in with your Sustain Account</b>
  </div>
  <div class="text-center alert {{messageType}}" *ngIf="message!=null">{{message}}</div>
  <form class="mt-3" name="form" #form="ngForm" (submit)="onSubmit(form)" autocomplete="on">
    <div class="md-form-group float-label">
      <input type="text" class="md-input"  name="username" #username="ngModel" [(ngModel)]="service.loginData.username" required>
      <label>Username</label>
    </div>
    <div class="md-form-group float-label">
      <input type="password" class="md-input" name="password" #password="ngModel" [(ngModel)]="service.loginData.password" required>
      <label>Password</label>
    </div>
    <div class="m-b-md">
      <label class="md-check">
        <input type="checkbox" name='remember' #remember="ngModel" [(ngModel)]="service.loginData.remember" ><i class="primary"></i> Keep me signed in
      </label>
    </div>
    <button type="submit" class="btn primary btn-block p-x-md">Sign in</button>
  </form>
  <div class="p-v-lg text-center mt-3">
    <div class="m-b"><a ui-sref="access.forgot-password" routerLink="/forgotpassword" class="text-primary _600">Forgot
        password?</a></div>
    <div>Do not have an account? <a ui-sref="access.signup" routerLink="/register" class="text-primary _600">Sign up</a>
    </div>
  </div>
</div>
